@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "bootswatch-variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/chosen-js/chosen.css";
@import "variables";
@import "footer";
@import "forms";
@import "star-rating";


/* NAVBAR */

.dropdown-item:active {
  background-color: $cyan;
}

/* BASIC STYLE */

body {
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-weight: 700;
}

a {
  color: $cyan;
}

a:hover {
  text-decoration: none;
  color: $cyan;
  text-shadow: 2px 2px 9px #00000059
}

dt, dd {
  font-size: 0.85rem;
  margin-bottom: 0.23rem;
}

/* CONTENT */

.homepage-box {
  padding: 15px 40px;
}

.homepage-box img {
  width: 230px;
  display: block;
  margin: auto;
}

.homepage-box a {
  color: #373a3c;
  width: 100%;
  height: 100%;
  display: block;
  padding: 25px;
}

.homepage-box a:hover {
  text-shadow: none;
  box-shadow: 2px 2px 9px #00000059;
}

.homepage-box h2 {
  font-size: 1.3rem;
}

.sign {
  color: $white;
  border: 1px solid $white;
}

.sign:hover {
  background-color: $white;
  color: $cyan;
}

.content {
  margin-top: 70px;
  margin-bottom: 40px;
}

.card {
  border: none;
  box-shadow: 0 4px 15px 5px #21252917;
}

.add-item {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 6rem;
}

.add-item > .card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.badge-pill {
  border-radius: 50%;
}

.custom-badge {
  background-color: $light-grey;
  font-size: 85%;
  font-weight: 400;
  padding: 0.3rem 0.45rem;
}

.hidden-edit {
  font-size: 75%;
  color: transparent;
}

.hidden-edit:hover {
  color: $light-grey;
  text-shadow: none;
}
