{block content}
    <h2 class="text-center text-info mt-1 mb-3">Přehled žánrů</h2>
    <a n:href="add"><i class="fa fa-plus-circle"></i> Přidat nový žánr</a>
    <ul>
        {foreach $genres as $genre}
            <li>{$genre->name}
                <a n:href="edit $genre->id" data-toggle="tooltip" title="Upravit">
                    <i class="fa fa-pencil"></i>
                </a>
            </li>
        {/foreach}
    </ul>
{/block}