{block content}
    <h2 class="text-center text-info mt-1 mb-3">Přehled štítků</h2>
    <a n:href="add"><i class="fa fa-plus-circle"></i> Přidat nový štítek</a>
    <ul>
        {foreach $tags as $tag}
            <li>{$tag->name}
                <a n:href="edit $tag->id" data-toggle="tooltip" title="Upravit">
                    <i class="fa fa-pencil"></i>
                </a>
            </li>
        {/foreach}
    </ul>
{/block}