{block content}
    <h2 class="text-center text-info mt-1 mb-3">Přehled nakladatelů</h2>
    <a n:href="add"><i class="fa fa-plus-circle"></i> Přidat nového nakladatele</a>
    <ul>
        {foreach $publishers as $publisher}
            <li>{$publisher->name}
                <a n:href="edit $publisher->id" data-toggle="tooltip" title="Upravit">
                    <i class="fa fa-pencil"></i>
                </a>
            </li>
        {/foreach}
    </ul>
{/block}